button {
  border: 0;
  padding: 12px 16px;
  border-radius: 6px;
  border-bottom-width: 3px;
  border-style: solid;
  cursor: pointer;
  margin-top: 0;
  transition: 0.1s;

  &:active {
    margin-top: 3px;
    border-bottom-width: 0px;
  }

  &:hover {
    opacity: 0.8;
  }

  &.success {
    color: var(--txt-1);
    background: var(--secondary);
    border-color: var(--primary-darken);
  }

  &.github {
    display: flex;
    font-size: 16px;
    align-items: baseline;
    color: var(--txt-1);
    background: var(--bg-2);
    border-color: var(--bg-3);
    justify-content: center;

    span {
      margin-left: 10px;
    }
  }

  &.warning {
    color: var(--black);
    background: var(--warning);
  }

  &.danger {
    color: var(--black);
    background: var(--error);
  }

  &[disabled],
  &[disabled]:hover {
    opacity: 0.6;
    cursor: not-allowed;
  }
}
