.checkbox {
  position: relative;
  height: 12px;
  display: flex;
  align-items: center;
  margin-left: 12px;
  padding-left: 12px;

  &-item {
    display: none;

    &:checked {
      ~ {
        .checkmark {
          background-color: var(--primary);
          border-color: var(--primary);

          &:after {
            display: block;
          }
        }
      }
    }
  }

  .checkmark {
    position: absolute;
    top: 2px;
    left: 0;
    height: 10px;
    width: 10px;
    background: var(--bg-2);
    border-radius: 2px;
    border: 1px solid var(--bg-5);

    &:after {
      content: "";
      position: absolute;
      display: none;
      top: 0px;
      left: 2.5px;
      width: 2.4px;
      height: 6px;
      border: 1px solid var(--bg-2);
      border-width: 0 2px 2px 0;
      -webkit-transform: rotate(45deg);
      -ms-transform: rotate(45deg);
      transform: rotate(45deg);
    }
  }
}
