.checkbox {
  align-items: center;
  display: flex;

  input {
    height: 0;
    opacity: 0;
    width: 0;

    &:checked {
      ~ .checkbox-check {
        box-shadow: inset 0 0 0 1px var(--primary);

        &::after {
          background-color: var(--primary);
          border-radius: 2px;
          content: '';
          width: 7px;
          height: 7px;
          transform: translate(-50%, -50%);
          position: absolute;
          top: 50%;
          left: 50%;
        }
      }
    }
  }

  &-check {
    box-shadow: inset 0 0 0 1px var(--gray);
    background-color: transparent;
    border-radius: 4px;
    cursor: pointer;
    position: relative;
    width: 12px;
    height: 12px;
    min-width: 12px;
    min-height: 12px;
  }

  &-text {
    color: var(--txt-2);
    margin-left: 4px;
  }
}
