.landing-header {
    display: flex;
    align-items: center;
    height: 80px;
    justify-content: space-between;
    width: 100%;
    max-width: 1200px;
    margin: 0 auto;
  
    @media only screen and (max-width: 600px) {
      width: 90%;
    }
  
    .language-switch .shortcut,
    .language-switch-current span {
      display: none;
    }
  
    a {
      text-decoration: none;
      color: var(--learn-white);
  
      &:hover {
        color: var(--landing-link-hover);
      }
    }
  
    &-brand {
      display: flex;
      align-items: center;
  
      &-icon {
        width: 20px;
        height: 20px;
        fill: var(--learn-success);
        margin-right: 6px;
        display: none;
      }
  
      &-name {
        font-size: 1.3rem;
        display: block;
      }
  
      @media only screen and (max-width: 600px) {
        &-icon {
          display: inline-block;
        }
  
        &-name {
          display: none;
        }
      }
    }
  
    &-links {
      display: flex;
      align-items: center;
      color: var(--learn-white);
      font-size: 14px;
    }
  
    &-link {
      margin-left: 20px;
    }
  
    .landing-link-playground {
      cursor: not-allowed;
      display: flex;
      align-items: center;
      color: var(--landing-link-disabled);
  
      &-icon {
        margin-left: 0.3em;
      }
    }
  }
  