.step-interactive {
  &-block {
    background: var(--bg-2);
    border-radius: 6px;
    padding: 12px;
    font-size: 12px;
    color: var(--txt-3);
    letter-spacing: 1px;
    margin: 20px 0;
    min-height: 50px;
    display: flex;
    align-items: center;
    justify-content: center;
    position: relative;
    transition: 0.3s;

    &::before {
      content: attr(data-title);
      position: absolute;
      top: -6px;
      left: 11px;
      background: var(--bg-3);
      color: var(--txt-3);
      font-size: 10px;
      padding: 2px 5px;
      border-radius: 5px;
    }

    &-regex {
      display: flex;
      flex-direction: column;
    }
  }

  &.parentError &-block-regex {
    box-shadow: inset 0px 0px 0px 2px var(--error);
  }

  &-block-content {
    display: block;
    text-align: left;
    padding: 20px 12px;
    min-height: 65px;
  }

  &-input {
    background: var(--bg-3);
    padding: 7px 15px;
    border-radius: 5px;
    display: flex;
    align-items: center;
    justify-content: center;

    input {
      border: 0px;
      padding: 5px;
      margin: 3px;
      text-align: center;
      background: none;
      color: var(--primary);
      letter-spacing: 4px;
      max-width: 440px;
      min-width: 60px;
      overflow: hidden;
      outline: 1px #444 dotted;


      &:active,
      &:focus {
        outline: 1px saddlebrown solid;
      }
    }

    @media only screen and (max-width: 600px) {
      min-width: 90%;
      max-width: 90%;

      input {
        font-size: 16px;
        max-width: 100%;
        letter-spacing: 1px;
      }
    }

    &::before {
      content: "/";
      color: var(--gray);
    }

    &::after {
      content: "/" attr(data-flags);
      color: var(--gray);
    }
  }

  &-result-tag {
    box-shadow: 3px 3px 2px var(--shadow-1);
    min-width: 10px;
    height: 20px;
    margin: 1px 3px;
    color: var(--black);
    font-size: 10px;
    padding: 2px 5px;
    border-radius: 5px;
    display: inline-flex;
    align-items: center;
    justify-content: center;
    vertical-align: middle;
  }

  &.error {
    .step-interactive-result-tag {
      background: var(--error);
    }
  }

  &.match {
    .step-interactive-result-tag {
      background: var(--warning);
    }
  }

  &.success {
    .step-interactive-result-tag {
      background: var(--primary);
    }
  }
}

@media only screen and (max-width: 600px) {
  .step-interactive-input {
    max-width: 100px;
  }
}

.safari-warning {
  background-color: var(--warning-darken);
  color: var(--black);
  font-size: 12px;
  padding: 5px;
  cursor: pointer;

  &:hover {
    opacity: .8;
  }
}