.header {
  display: flex;
  align-items: center;
  justify-content: space-between;
  height: 50px;
  padding: 20px;
  position: relative;

  &-social {
    display: flex;

    a {
      &:hover {
        opacity: 0.7;
      }

      svg {
        margin: 0 10px;
      }
    }

    @media only screen and (max-width: 600px) {
      a {
        display: none;
      }

      a[href="#/"] {
        display: flex;
      }
    }
  }


}
