.progress {
  width: 150px;
  display: flex;
  align-items: center;
  position: absolute;
  left: 50%;
  transform: translate(-50%, 0);

  &-status {
    position: absolute;
    top: 10px;
    left: 50%;
    font-size: 14px;
    transform: translate(-50%, 0);
    color: var(--learn-bg-progress);
    font-weight: bold;
  }

  @media only screen and (max-width: 600px) {
    width: 100px;
  }
}
