.report-step {
  cursor: default;
  min-width: 10px;
  position: absolute;
  top: 77px;
  left: 15px;
  user-select: none;
  
  a {
    display: inline-flex;
    align-items: center;
    color: var(--learn-bg-hint);
    font-size: 10px;
    text-decoration: none;
    transition: .1s;
  
    &:hover {
      color: var(--learn-warning);
    }
  }

  svg {
    margin-right: 5px;
  }
}
