.CheatsheetItemTitle {
  display: flex;
  align-items: center;
  width: 100%;
}

.CheatsheetItemTitleCodeWrapper {
  display: flex;
  align-items: center;
  width: 80px;
}

.CheatsheetItemTitleCode {
  border-radius: 6px;
  padding: 2px 6px;
  font-size: 12px;
  margin-right: 10px;
  background: var(--bg-2);
}