button {
  border: 0;
  padding: 12px 16px;
  border-radius: 4px;
  cursor: pointer;

  &:hover {
    opacity: 0.8;
  }

  &.success {
    color: var(--learn-black);
    background: var(--learn-success);
  }

  &.warning {
    color: var(--learn-black);
    background: var(--learn-warning);
  }
  &.danger {
    color: var(--learn-black);
    background: var(--learn-error);
  }
  &.disabled{
    color: var(--learn-black);
    background: var(--learn-white);
    cursor: not-allowed;
  }
}
