.step {
  flex: 1;
  display: flex;
  flex-direction: column;
  justify-content: center;
  width: 800px;
  max-width: 90%;
  text-align: center;
  margin: 0 auto;

  &-title {
    color: var(--learn-text-title);
    font-size: 28px;
    position: relative;

    &::before {
      content: attr(data-original-title);
      display: block;
      font-size: 14px;
      font-weight: normal;
      margin-bottom: 10px;
      color: var(--learn-text-description);
    }
  }

  &-description {
    font-size: 16px;
    color: var(--learn-text-description);
  }

  &-word {
    background: var(--learn-word-highlight);
    border-radius: 6px;
    padding: 2px 6px;
    font-size: 12px;
  }

  h2 &-word {
    font-size: unset;
    margin: 0px 1px;
  }
}
