.CheatsheetTitle {
  border-radius: 5px;
  margin-bottom: 5px;
  width: 100%;
  transition: 0.1s;
  background-color: var(--bg-3);
  border-radius: 0;
}

.CheatsheetTitle:hover {
  color: var(--primary);
}

.CheatsheetTitleOpened {
  composes: CheatsheetTitle;
}

.CheatsheetTitle span,
.CheatsheetTitleOpened span {
  width: auto !important;
}

.CheatsheetContent p {
  margin-left: 0;
}
