@import url("https://fonts.googleapis.com/css2?family=Open+Sans&display=swap");

:root {
  --learn-bg: #282c34;
  --learn-white: #ffffff;
  --learn-black: #000000;
  --learn-gray: gray;
  --learn-text-title: var(--learn-white);
  --learn-text-description: #d0d0d0;
  --learn-text-block: #999999;
  --learn-bg-block: #333333;
  --learn-bg-block-tag: #272727;
  --learn-bg-hint: #8d8d8d;
  --learn-bg-progress: #9f9f9f;
  --learn-bg-shortcut: #444444;
  --learn-text-shortcut: #eeeeee;
  --learn-border-shortcut: #636363;
  --learn-shadow-result-tag: #21212173;
  --learn-primary: #38975e;
  --learn-primary-darken: #29593c;
  --learn-success: #5ff59b;
  --learn-warning: #ffaa0d;
  --learn-error: #ff6347;
  --learn-word-highlight: var(--learn-bg-block);
  --learn-checkmark: var(--learn-bg-block);
  --learn-checkmark-border: #636363;

  --landing-link-hover: var(--learn-success);
  --landing-link-disabled: #969696;

  --toastify-color-success: #328252 !important;
}

* { outline: none; }

body {
  margin: 0;
  font-family: "Open Sans", sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background-color: var(--learn-bg);
}

.App {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  height: 100vh;
  color: var(--learn-white);
}

.content {
  flex: 1;
  display: flex;
  align-items: flex-start;
  justify-content: center;
  flex-direction: column;
}

.intro {
  flex: 1;
  display: flex;
  align-items: center;
  justify-content: center;
}

.flex-1 { flex: 1; }