:root {
  --learn-bg: #282c34;
  --learn-white: #ffffff;
  --learn-black: #000000;
  --learn-gray: gray;
  --learn-text-title: var(--learn-white);
  --learn-text-description: #d0d0d0;
  --learn-text-block: #999999;
  --learn-bg-block: #333333;
  --learn-bg-block-tag: #272727;
  --learn-bg-hint: #8d8d8d;
  --learn-bg-progress: #9f9f9f;
  --learn-bg-shortcut: #444444;
  --learn-text-shortcut: #eeeeee;
  --learn-border-shortcut: #636363;
  --learn-shadow-result-tag: #21212173;
  --learn-primary: #38975e;
  --learn-primary-darken: #29593c;
  --learn-success: #5ff59b;
  --learn-warning: #ffaa0d;
  --learn-error: #ff6347;
  --learn-word-highlight: var(--learn-bg-block);
  --learn-checkmark: var(--learn-bg-block);
  --learn-checkmark-border: #636363;

  --landing-link-hover: var(--learn-success);
  --landing-link-disabled: #969696;

  --toastify-color-success: #328252 !important;
}

body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen",
    "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue",
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background-color: var(--learn-bg);
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}


@import url("https://fonts.googleapis.com/css2?family=Open+Sans&display=swap");

.App {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  height: 100vh;
  font-family: "Open Sans", sans-serif;
  color: var(--learn-white);

  .shortcut {
    display: none;
  }

  &.desktop {
    .shortcut {
      display: block;
    }
  }
}

.container {
  max-width: 1200px;
  height: 100%;
  margin: 0 auto;
  display: flex;
  align-items: center;

  .content {
    flex: 1;
    display: flex;
    align-items: flex-start;
    justify-content: center;
    flex-direction: column;
  }

  .intro {
    flex: 1;
    display: flex;
    align-items: center;
    justify-content: center;
  }
}

@media (max-width: 1199.98px) {
  .container {
    padding: 20px;
    max-width: 650px;
    flex-direction: column;

    .intro {
      display: none;
    }
  }
}