.Progress {
  width: 150px;
  display: flex;
  align-items: center;
  flex-direction: column;
  justify-content: flex-start;
  user-select: none;
  position: relative;
}

.ProgressStatus {
  font-size: 14px;
  color: var(--txt-3);
  font-weight: bold;
  width: 100%;
  text-align: center;
  margin-top: 10px;
  position: absolute;
}

.ProgressLine :global(.rc-progress-line-trail) {
  stroke: var(--bg-4);
}

.ProgressLine :global(.rc-progress-line-path) {
  stroke: var(--primary);
}
