.Progress {
  width: 150px;
  display: flex;
  align-items: center;
  flex-direction: column;
  justify-content: flex-start;
  user-select: none;
  position: relative;
}

.ProgressStatus {
  font-size: 14px;
  color: var(--txt-3);
  font-weight: bold;
  width: 100%;
  text-align: center;
  margin-top: 10px;
  position: absolute;
}

.ProgressBar {
  width: 100%;
  max-width: 200px;
  height: 2px;
  background-color: var(--bg-4);
  border-radius: 2px;
}

.ProgressLine {
  height: 6px;
  border-radius: 3px;
  position: relative;
  bottom: 2px;
  background-color: var(--primary);
  transition: 0.1s;
  min-width: 6px;
  max-width: 100%;
}
