.flag-box {
  display: flex;
  margin-top: 10px;

  &-item {
    display: flex;
    align-items: center;
    margin: 0 5px;

    input {
      margin-right: 5px;
    }

    &-highlight {
      color: #5ff59b;
    }
  }
}
