.SocialLink {
  text-decoration: none;
  margin: 0 10px;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.SocialLink svg {
  color: var(--txt-1);
  transition: 0.3s;
}

.SocialLink:hover svg {
  color: var(--primary);
}
