.Step {
  flex: 1;
  display: flex;
  flex-direction: column;
  justify-content: center;
  width: 800px;
  max-width: 90%;
  text-align: center;
  margin: 0 auto;
}

.StepImage {
  width: 240px;
  margin: 0 auto;
}

.StepTitle {
  color: var(--txt-1);
  font-size: 28px;
  margin: 0;
}

.StepTitleWord {
  font-size: unset;
  margin: 0px 1px;
  background: var(--bg-4);
  border-radius: 6px;
  padding: 2px 6px;
}

.StepTitleOriginal {
  display: block;
  font-size: 14px;
  font-weight: normal;
  margin: 0;
  margin-bottom: 10px;
  color: var(--txt-2);
}

.StepDescription {
  font-size: 16px;
  color: var(--txt-2);
  line-height: 1.5em;
}

.StepDescriptionWord {
  background: var(--bg-4);
  border-radius: 6px;
  padding: 2px 6px;
  font-size: 12px;
}

@media only screen and (max-width: 600px) {
  .StepTitle {
    margin: 0;
    font-size: 20px;
  }

  .StepTitleOriginal {
    font-size: 12px;
  }

  .StepDescription {
    margin-top: 10px;
    margin-bottom: 0;
  }
}
