.navigation {
  display: flex;
  position: absolute;
  width: 100%;
  bottom: 0;
  left: 0;

  &-step {
    margin: 50px;
    cursor: pointer;
    display: flex;
    align-items: center;
    justify-content: center;
    position: relative;

    .shortcut {
      position: absolute;
      top: -30px;
    }

    &:hover {
      opacity: 0.7;
    }

    svg {
      margin: 0 5px;
    }
  }

  &-prev-step {
    margin-right: auto;

    .shortcut {
      right: 0;
    }
  }

  &-next-step {
    margin-left: auto;

    .shortcut {
      left: 0;
    }
  }
}
