.navigation {
  display: flex;
  position: absolute;
  width: 100%;
  bottom: 0;
  left: 0;

  &-step {
    padding: 50px;
    cursor: pointer;
    display: flex;
    align-items: center;
    justify-content: center;

    &:hover {
      opacity: 0.7;
    }

    svg {
      margin: 0 5px;
    }
  }

  &-prev-step {
    margin-right: auto;
  }

  &-next-step {
    margin-left: auto;
  }
}
