.PlaygroundBlockRegexInput {
  border: 0px;
  margin: 3px;
  background: none;
  letter-spacing: 2px;
  width: 100%;
  font-size: 14px;
  letter-spacing: 1px;
  line-height: 1.5em;
  height: 30px;
  font-family: 'Open Sans';
  white-space: nowrap;
  color: var(--primary);
  position: relative;
  background-color: var(--bg-2);
  padding: 20px 15px;
  border-radius: 5px;
}

.InteractiveAreaBlock {
  background: var(--bg-3);
  border-radius: 6px;
  padding: 10px;
  font-size: 12px;
  color: var(--txt-3);
  letter-spacing: 1px;
  min-height: 50px;
  display: flex;
  align-items: center;
  justify-content: center;
  position: relative;
  transition: 0.3s;
}

.InteractiveAreaBlock::before {
  content: attr(data-title);
  position: absolute;
  top: -12px;
  left: 11px;
  background: var(--bg-3);
  color: var(--txt-3);
  font-size: 10px;
  padding: 2px 5px;
  border-radius: 5px;
}

.InteractiveAreaBlockRegex {
  composes: InteractiveAreaBlock;
  background-color: var(--bg-3);
  justify-content: flex-start;
}

.InteractiveAreaBlockContent {
  composes: InteractiveAreaBlock;
  display: block;
  margin: 20px 0 40px;
  text-align: left;
  min-height: 300px;
  height: 100%;
}

.EditorWrapper {
  background-color: var(--bg-2);
  line-height: 20px;
  padding: 6px;
  border-radius: 5px;
  height: 350px;
}

.Highlight {
  margin: 1px;
  color: var(--black);
  font-size: 10px;
  padding: 2px 4px;
  border-radius: 3px;
  background: var(--primary);
}

@media only screen and (max-width: 600px) {
  .EditorWrapper,
  .PlaygroundBlockRegexInput {
    font-size: 16px;
  }
}
