.PlaygroundContainer {
  align-items: center;
}

.Highlight {
  display: inline-flex;
  margin: 1px;
  color: var(--black);
  font-size: 10px;
  padding: 2px 4px;
  border-radius: 3px;
  display: inline-flex;
  align-items: center;
  justify-content: center;
  vertical-align: middle;
  background: var(--primary);
}

.PlaygroundBlockRegexInputWrapper {
  background: var(--bg-3);
  padding: 7px 15px;
  border-radius: 5px;
  max-width: 90%;
  position: relative;
  display: flex;
  background-color: var(--bg-2);
  align-items: center;
}

.PlaygroundBlockRegexInput {
  border: 0px;
  padding: 5px;
  margin: 3px;
  min-width: 90px;
  text-align: center;
  background: none;
  letter-spacing: 2px;
  width: 100%;
  max-width: 100%;
  font-size: 14px;
  letter-spacing: 1px;
  line-height: 1.5em;
  height: 30px;
  font-family: 'Open Sans';
  white-space: nowrap;
  color: var(--primary);
  position: relative;
}

.PlaygroundBlockRegexInputWrapper::before {
  content: '/';
  color: var(--learn-gray);
  font-size: 14px;
  position: absolute;
}

.PlaygroundBlockRegexInputWrapper::after {
  content: '/' attr(data-flags);
  color: var(--learn-gray);
  font-size: 14px;
  position: absolute;
  right: calc(10px);
}

.InteractiveAreaBlock {
  background: var(--bg-2);
  border-radius: 6px;
  padding: 12px;
  font-size: 12px;
  color: var(--txt-3);
  letter-spacing: 1px;
  margin: 20px 0;
  min-height: 50px;
  display: flex;
  align-items: center;
  justify-content: center;
  position: relative;
  transition: 0.3s;
}

.InteractiveAreaBlockRegex {
  composes: InteractiveAreaBlock;
  background-color: var(--bg-3);
  justify-content: flex-start;
}

.InteractiveAreaBlockContent {
  composes: InteractiveAreaBlock;
  display: block;
  text-align: left;
  padding: 20px 12px;
  min-height: 300px;
  height: 100%;
}
