.Section {
  display: flex;
  align-items: center;
}

.SectionDescription {
  font-size: 18px;
  line-height: 30px;
}

.SectionHighlight {
  color: var(--primary);
}

.SectionContentWrapper {
  align-items: center;
}

.SectionImage {
  max-width: 500px;
  width: 100%;
}

.LessonSponsor {
  font-size: 12px;
  display: flex;
  justify-content: flex-end;
  align-items: center;
}

.LessonSponsor img {
  height: 12px;
  margin-left: 5px;
  margin-bottom: 1px;
}

@media only screen and (max-width: 1200px) {
  .SectionImageWrapper {
    display: none;
  }
}
