.CollapseTitle {
  display: flex;
  align-items: center;
  height: 40px;
  border-radius: 6px;
  cursor: pointer;
  font-size: 14px;
}

.CollapseTitleIcon {
  color: var(--gray);
  transition: 0.3s;
}

.CollapseTitleIconActive {
  composes: CollapseTitleIcon;
  color: var(--txt-1);
  transform: rotate(180deg);
}

.CollapseContent {
  display: flex;
  flex-direction: column;
  margin: 6px 0;
  overflow: hidden;
  transition: 0.3s;
}

.CollapseDescription {
  font-size: 13px;
  color: var(--txt-3);
  margin: 0;
  margin-left: 80px;
}
