.Collapse {
  display: flex;
  flex-direction: column;
  width: 100%;
  border-radius: 6px;
}

.CollapseTitle {
  display: flex;
  align-items: center;
  height: 25px;
  border-radius: 6px;
  cursor: pointer;
  font-size: 14px;
}

.CollapseDescription {
  font-size: 13px;
  color: var(--txt-3);
  margin: 0;
  margin-left: 80px;
}

.CollapseTitleIcon {
  color: var(--gray);
}

.CollapseContent {
  display: flex;
  margin: 6px 0;
  overflow: hidden;
  height: 0;
  transition: .3s;
}

.CollapseContentInner {
  width: 100%;
  border-bottom: 1px solid var(--gray);
}