.hint {
  cursor: default;
  min-width: 10px;
  color: var(--learn-bg-hint);
  font-size: 10px;
  position: absolute;
  top: 14px;
  right: 15px;

  @media only screen and (max-width: 600px) {
    top: 77px;
  }

  &-question {
    display: flex;
    flex-direction: column;
    align-items: flex-end;
    justify-content: center;

    .shortcut {
      margin-top: 4px;
      font-size: 8px;
      width: 38px;
    }
  }

  &-answer {
    color: var(--learn-success);
  }
}
