.hint {
  cursor: default;
  min-width: 10px;
  color: var(--learn-bg-hint);
  font-size: 10px;
  padding: 5px;
  position: absolute;
  top: 0;
  right: 0;

  &-question {
    position: relative;

    .shortcut {
      position: absolute;
      bottom: -30px;
      right: 0;
      font-size: 8px;
      min-width: 38px;
    }
  }

  &-answer {
    color: var(--learn-success);
  }
}
