.header {
  display: flex;
  align-items: center;
  height: 50px;
  padding: 20px;

  &-social {
    display: flex;

    a {
      &:hover {
        opacity: 0.7;
      }

      svg {
        margin: 0 10px;
      }
    }
  }

  .language-switch {
  }
}
