.header {
  position: absolute;
  top: 0;
  left: 0;
  height: 50px;
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: flex-start;

  &-social {
    margin-left: 50px;
    display: flex;

    a {
      &:hover {
        opacity: 0.7;
      }

      svg {
        margin-right: 20px;
      }
    }
  }

  .language-switch {
    margin-right: 50px;
  }
}
