.header {
  display: flex;
  align-items: center;
  justify-content: space-between;
  height: 50px;
  padding: 20px;
  position: relative;

  &-social {
    display: flex;

    a {
      &:hover {
        opacity: 0.7;
      }

      svg {
        margin: 0 10px;
      }
    }
  }
}
