.ShortcutSwitch {
  margin-left: 15px;
  cursor: pointer;
  color: var(--learn-wite);
  transition: .3s;
  user-select: none;
}

.ShortcutSwitchDisable {
  composes: ShortcutSwitch;
  color: var(--gray);
}
