.CheatsheetTitle {
  padding: 6px;
  border-radius: 5px;
  margin-bottom: 5px;
  width: 100%;
  background-color: var(--bg-3);
}

.CheatsheetTitleInner {
  width: 100%;
  height: 100%;
  display: flex;
  align-items: center;
  padding: 6px;
  border-radius: 5px;
}
