.CheatsheetSidebar {
  width: 100%;
  height: 500px;
}

.CategoryTitle {
  padding: 6px;
  border-radius: 5px;
  margin-bottom: 5px;
  width: 100%;
  transition: 0.1s;
  background-color: var(--bg-3);
}

.CategoryTitleInner {
  width: 100%;
  height: 100%;
  display: flex;
  align-items: center;
  padding: 6px 12px;
  border-radius: 5px;
}

.CategoryContent {
  padding: 6px 12px;
}
