.LanguageSwitch {
  margin-left: 20px;
  position: relative;
  cursor: pointer;
  user-select: none;
  transition: .3s;
}

.LanguageSwitch:hover .LanguageSwitchList {
  display: flex;
  flex-direction: column;
}

.LanguageSwitch :global(svg) {
  transition: .3s;
}

.LanguageSwitch:hover,
.LanguageSwitch:hover :global(svg) {
  color: var(--primary);
}

.LanguageSwitchCurrent {
  display: flex;
  align-items: center;
  justify-content: center;
  position: relative;
}

.LanguageSwitchCurrent span {
  color: var(--landing-white);
}

.LanguageSwitchCurrentIcon {
  margin-left: 5px;
}

.LanguageSwitchCurrent span {
  text-align: right;
}

@media only screen and (max-width: 600px) {
  .LanguageSwitchCurrent span {
    display: none;
  }

  .LanguageSwitch {
    margin-left: 5px;
  }
}
