.languageSwitch {
  margin: 10px;
  position: relative;
  cursor: pointer;
  user-select: none;
}

.languageSwitch:hover .languageSwitchList {
  display: flex;
  flex-direction: column;
}

.languageSwitchCurrent {
  display: flex;
  align-items: center;
  justify-content: center;
  position: relative;
}

.languageSwitchCurrent span {
  color: var(--learn-gray);
}

.languageSwitchCurrentIcon {
  margin-left: 8px;
}

.languageSwitchList {
  position: absolute;
  display: none;
  font-size: 14px;
  right: 0;
  width: 150px;
}

.languageSwitchListVisible {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.languageSwitchListItem {
  margin-left: auto;
  padding: 5px;
  color: var(--learn-white);
  position: relative;
  display: flex;
  align-items: center;
  justify-content: flex-end;
}


@media only screen and (max-width: 600px) {
  .languageSwitchCurrent span {
    display: none;
  }

  .languageSwitchListItem {
    margin-top: 10px;
  }
}