.Section {
  display: flex;
  align-items: center;
  margin-bottom: 50px;
}

.SectionDescription {
  font-size: 18px;
  line-height: 30px;
}

.SectionHighlight {
  color: var(--primary);
}

.SectionImage {
  max-width: 500px;
}

.SectionReverse {
  composes: Section;
}

.SectionReverse .SectionImageWrapper {
  order: 2;
}

.SectionReverse .SectionContentWrapper {
  order: 1;
}

@media only screen and (max-width: 1200px) {
  .SectionImage {
    max-width: 90%;
    margin: 0 auto;
  }
}

@media only screen and (max-width: 600px) {
  .Section {
    flex-direction: column;
    justify-content: center;
    text-align: center;
  }

  .SectionReverse .SectionImageWrapper {
    order: 1;
  }

  .SectionReverse .SectionContentWrapper {
    order: 2;
  }

  .SectionLink,
  .SectionButton {
    width: 100%;
  }
}
