.Footer {
  display: flex;
  align-items: center;
  flex-direction: column;
  height: 80px;
  justify-content: center;
  width: 100%;
  margin: 0 auto;
  margin-top: 30px;
}

.FooterSocial {
  display: flex;
  align-items: center;
  color: var(--txt-1);
  font-size: 14px;
}

.FooterCopyright {
  display: flex;
  align-items: center;
  font-size: 14px;
  margin-top: 10px;
}

.FooterCopyrightLink {
  text-decoration: none;
  user-select: none;
  color: var(--txt-2);
}

.FooterCopyrightLink:hover {
  opacity: 0.8;
}

.Version {
  font-size: 9px;
  color: var(--txt-3);
  margin: 5px;
}
