.Footer {
  display: flex;
  align-items: center;
  flex-direction: column;
  height: 80px;
  justify-content: center;
  width: 100%;
  margin: 0 auto;
  margin-top: 30px;
}

.FooterSocial {
  display: flex;
  align-items: center;
  color: var(--learn-white);
  font-size: 14px;
}

.FooterSocialLink {
  text-decoration: none;
  color: var(--learn-white);
  margin: 0 10px;
}

.FooterSocialLink:hover {
  color: var(--landing-link-hover);
}

.FooterCopyright {
  display: flex;
  align-items: center;
  font-size: 14px;
  margin: 10px 0;
}

.FooterCopyrightLink {
  text-decoration: none;
  user-select: none;
  color: var(--landing-link-disabled);
}

.FooterCopyrightLink:hover {
  opacity: .8;
}