.Footer {
  display: flex;
  align-items: center;
  flex-direction: column;
  height: 80px;
  justify-content: center;
  width: 100%;
  margin: 0 auto;
  margin-top: 30px;
}

.FooterSocial {
  display: flex;
  align-items: center;
  color: var(--txt-1);
  font-size: 14px;
}

.FooterSocialLink {
  text-decoration: none;
  margin: 0 10px;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.FooterSocialLink svg {
  color: var(--txt-1);
  transition: 0.3s;
}

.FooterSocialLink:hover svg {
  color: var(--primary);
}

.FooterSocialLink span {
  font-size: 6px;
  opacity: 0;
}

.FooterCopyright {
  display: flex;
  align-items: center;
  font-size: 14px;
  margin: 10px 0;
}

.FooterCopyrightLink {
  text-decoration: none;
  user-select: none;
  color: var(--txt-3);
}

.FooterCopyrightLink:hover {
  opacity: 0.8;
}
