.landing {
  h1 {
    margin: 0;
    font-size: 53px;
  }

  p {
    font-size: 20px;
    line-height: 30px;

    span.highlight {
      color: var(--learn-success);
    }
  }

  button {
    border: 0;
    padding: 12px 16px;
    border-radius: 4px;
    margin-right: 20px;
    cursor: pointer;

    &:hover {
      opacity: 0.8;
    }
  }

  button.primary {
    color: var(--learn-black);
    background: var(--learn-success);
  }
}
