@import './../../utils/responsive-breakpoints.scss';

.landing {
  h1 {
    margin: 0;
    font-size: 53px;
  }

  p {
    font-size: 20px;
    line-height: 30px;

    span.highlight {
      color: var(--learn-success);
    }
  }
}

@media (max-width: $breakpoint-phone) {
  .landing {
    justify-content: flex-start !important;
    padding-top: 3em;

    h1 {
      margin: 0;
      font-size: 2.5em;
      line-height: 1.3em;
    }

    p {
      padding-top: 1.8em;
      font-size: 20px;
      line-height: 1.3em;

      span.highlight {
        color: var(--learn-success);
      }
    }

    a {
      display: flex;
      justify-content: center;
      align-content: center;
      button {
        position: absolute;
        bottom: 0;
        left: 50%;
        transform: translate(-50%, -10%);
        width: 90%;
        text-align: center;
        padding: 0.4em;
        font-size: 2em;
      }
    }
  }
}
