.CheatsheetDemo {
  flex: 1;
  display: inline-flex;
  flex-direction: column;
  justify-content: center;
  text-align: center;
  margin: 0 auto;
  position: relative;
  width: 100%;
}

.CheatsheetDemoBlock {
  background: var(--learn-bg-block);
  border-radius: 6px;
  padding: 12px 0;
  font-size: 12px;
  color: var(--learn-text-block);
  letter-spacing: 1px;
  margin: 5px 0;
  display: inline-flex;
  align-items: center;
  justify-content: center;
  width: 100%;
  position: relative;
}

.CheatsheetDemoBlock::before {
  content: attr(data-title);
  position: absolute;
  top: -6px;
  left: 11px;
  background: var(--learn-bg-block-tag);
  color: var(--learn-text-block);
  font-size: 10px;
  padding: 2px 5px;
  border-radius: 5px;
}

.CheatsheetDemoBlockRegex {
  display: flex;
  flex-direction: row;
  width: 100%;
  margin: 10px auto;
}

.CheatsheetDemoBlockRegexIcon {
  position: absolute;
  right: 10px;
  cursor: pointer;
  color: var(--learn-white);
  user-select: none;
}

.CheatsheetDemoBlockContent {
  display: inline-flex;
  text-align: left;
  width: 100%;
  margin: 10px auto;
  min-height: 46px;
}

.CheatsheetDemoInputWrapper {
  background: var(--learn-bg-block-tag);
  border-radius: 5px;
  display: flex;
  align-items: center;
}

.CheatsheetDemoInput:active,
.CheatsheetDemoInput:focus {
  outline: 1px saddlebrown solid;
}

.CheatsheetDemoResultTag {
  box-shadow: 3px 3px 2px var(--learn-shadow-result-tag);
  min-width: 10px;
  height: 20px;
  margin: 1px 3px;
  color: var(--learn-black);
  background: var(--learn-success);
  font-size: 10px;
  padding: 2px 5px;
  border-radius: 5px;
  display: inline-flex;
  align-items: center;
  justify-content: center;
  vertical-align: middle;
}

.CheatsheetDemoHiglightText {
  padding: 5px;
  color: var(--learn-success);
}

.CheatsheetDemoHiglightText::before {
  content: "/";
  color: var(--learn-gray);
}

.CheatsheetDemoHiglightText::after {
  content: "/" attr(data-flags);
  color: var(--learn-gray);
}
