@import url("https://fonts.googleapis.com/css2?family=Open+Sans&display=swap");

.App {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  height: 100vh;
  font-family: "Open Sans", sans-serif;
  color: var(--learn-white);

  .shortcut {
    display: none;
  }

  &.desktop {
    .shortcut {
      display: block;
    }
  }
}

.container {
  max-width: 1200px;
  height: 100%;
  margin: 0 auto;
  display: flex;
  align-items: center;

  .content {
    flex: 1;
    display: flex;
    align-items: flex-start;
    justify-content: center;
    flex-direction: column;
  }

  .intro {
    flex: 1;
    display: flex;
    align-items: center;
    justify-content: center;
  }
}

@media (max-width: 1199.98px) { 
  .container {
    padding: 20px;
    max-width: 650px;
    flex-direction: column;

    .intro {
      display: none;
    }
  }
}
