@import url("https://fonts.googleapis.com/css2?family=Open+Sans&display=swap");

.App {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  height: 100vh;
  font-family: "Open Sans", sans-serif;
  color: white;

  .shortcut {
    display: none;
  }

  &.desktop {
    .shortcut {
      display: block;
    }
  }
}

.Toastify__toast-theme--colored.Toastify__toast--success {
  background: #328252 !important;
}
