@import url("https://fonts.googleapis.com/css2?family=Open+Sans&display=swap");

.App {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  height: 100vh;
  font-family: "Open Sans", sans-serif;
  color: var(--learn-white);

  .shortcut {
    display: none;
  }

  &.desktop {
    .shortcut {
      display: block;
    }
  }
}
